@model List<NewSession>
@using FYP_Project.Models

@{
    var id = ViewContext.RouteData.Values["id"];
}

<style>

    html {
        width: 100%;
        height: 100%;
    }

    body {
        padding: 30px;
        background-color: #7ee8fa;
        background-image: linear-gradient(315deg, #7ee8fa 0%, rgb(97, 194, 86) 74%);
    }

    .inner-div {
        padding: 30px;
        background-color: white;
        margin: 0 auto;
        border-radius: 30px;
    }

    .generate {
        padding: 5px;
        font-family: sans-serif;
        text-align: center;
    }

    .btn {
        box-sizing: content-box;
        width: 65%;
        text-align: center;
        align-items: center;
    }

    .display-id {
        width: 45%;
        padding: 10px;
        border: 5px solid rgb(255, 123, 0);
        margin: auto;
        align-items: center;
    }
</style>

<div class="inner-div">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="" asp-action="PlayerDashboard">TFG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="PlayerDashboard">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_blank" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GenerateView">Generate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ManageSession">Session</a>
                    </li>

                    <li class="nav-item offset-sm-7">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logoff">Log Out</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>



    <div class="generate">
        <h1><b>Game Session ID:</b></h1>
    </div>
    <br />


    <div class="session-field">

        <div class="display-id text-center">

            <h1>@id</h1>

        </div>

        <br />

        <h4 class="text-sm-center">Players joined: </h4>
      
        <br />
        <br />
        <br />


        <form asp-controller="Game"
              asp-action="canPlayStart">

            <div class="btn offset-sm-2">
                <input type="submit" class="btn btn-outline-success" value="Start Game" />
                <br />
            </div>


        </form>

        <form asp-controller="Game"
              asp-action="ManageSession">

            <div class="btn offset-sm-2">
                <input type="submit" class="btn btn-info" value="Back" />
                <br />
            </div>


        </form>











    </div>










</div>