@{
    ViewData["Title"] = "Privacy Policy - The Face Game";
}
<h1>@ViewData["Title"]</h1>


<style>
    .strong {
        font-weight: bold;
        
    }

    .italic {
        font-style: italic;
    }

    h3 {
        font-size: 20px;
    }

    address {
        padding-left: 3em;
    }

    table.notice-eu-users thead th .italic {
        font-weight: normal;
    }

    table.notice-eu-users th {
        vertical-align: top;
    }
</style>



<div class="container my-4">
    <p>Last updated 10 August 2020</p>

    <p>
        This Privacy Policy describes the privacy practices of the Face Game in connection with the the Face Game
        web application (the “App”) and thefacegameapp.azurewebsites.com website (the “Site”).
    </p>

    <p class="strong">Welcome to the Face Game's Privacy Policy!</p>
    <p>
        If you decide not to read this entire Privacy Policy, we want you to walk away with a few key points
        about FaceApp’s privacy practices:
    </p>
    <ul>
        <li>
            The App is a photo and facial recognition app that allows users to upload their photos based on
            facial recognition technology that detects and recognises the face in the photo uploaded to the app.
        </li>

        <li>
            We use third-party cloud providers – specifically, Microsoft Azure –
            to process and store photographs.
        </li>

        <li>The App only uploads to the cloud the photographs that you specifically select for uploading.</li>

        <li>
            We do not use the photographs you provide when you use the App for any reason other than to
            provide you with the image facial recognition functionality of the App.
        </li>

    </ul><p>
        If you have any questions about our privacy practices, please email
        <span id="ckcaul4qg0000kqfprqszgwmj"><a href="mailto:privacy@thefacegameapp.com">privacy@thefacegameapp.com</a></span>.
    </p>
  

    <h2 id="personal-information-we-collect">Personal Information We Collect</h2>
    <p>When you use the App, we may collect information about you, including:</p>
    <ul>
        <li>
            <span class="strong">Photographs you provide when you use the App</span>, via your camera or
            camera roll (if you have granted us permission to access your camera or camera roll),
            the in-App internet search functionality. We obtain only the specific images you
            chose to upload using the App; we do not collect your photo albums even if you grant us
            your access to them. Please note that while we do not require or request any metadata attached to
            the photographs you upload, metadata (including, for example, geotags) may be associated
            with your photographs by default. We take steps to delete any metadata that may be
            associated with a photograph you provide when you use the App.
        </li>

        <li id="app-usage-information">
            <span class="strong">App usage information</span>, such as information about how you use the
            App and interact with us, including your preferred language, the date and time when you first
            installed the App and the date and time you last used the App.
        </li>

        <li>
            <span class="strong">Device data</span>, such as your computer and mobile device operating
            system type and version number, manufacturer and model, device ID, push tokens,
            Google Advertising ID, Apple ID for Advertising, browser type, screen resolution,
            IP address (and the associated country in which you are located),
            the website you visited before visiting our Site; and other information about the device
            you are using to visit the App.
        </li>
        <li>
            <span class="strong">Online activity data</span>,
            such as information about your use of and actions on the App and the Sites, including pages
            or screens you viewed, how long you spent on a page or screen, navigation paths between pages
            or screens, information about your activity on a page or screen, access times, and length of
            access. Our service providers and certain third parties (e.g., online advertising networks
            and their clients) also may collect this type of information over time and across
            third-party websites and mobile applications. This information may be collected on our
            Site using cookies, browser web storage (also known as locally stored objects, or “LSOs”),
            web beacons, and similar technologies. We may collect this information directly or
            through our use of third-party software development kits (“SDKs”). SDKs may enable third
            parties to collect information directly from our App.
        </li>
    </ul>
    <h2>How We Use Your Personal Information</h2><p>
        We do not use the photographs you provide when
        you use the App for any reason other than to provide you with the editing functionality of the App. We may use
        information other than photographs for the following purposes:
    </p>
    <p class="strong" id="to-operate-and-improve-the-app">To operate and improve the App:</p>
    <ul>
        <li>
            Enable you to use
            the App’s features;
        </li>
        <li>
            Establish and maintain your account, if you choose to login to the
            App using your social media account;
        </li>
        <li>
            Communicate with you about the App, including by
            sending you announcements, updates, and security alerts, which we may send through a push
            notification, and responding to your requests, questions and feedback;
        </li>
        <li>Provide technical support and maintenance for the App.</li>

    </ul><p id="compliance-fraund"><span class="strong">For compliance, fraud prevention, and safety.</span> We may use your personal information and disclose it to law enforcement, government authorities, and private parties as we believe necessary or Appropriate to: (a) protect our, your or others’ rights, privacy, safety or property (including by making and defending legal claims); (b) enforce the terms and conditions that govern the Service; and (c) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.</p><p>
        <span class="strong" id="with-your-consent">
            With your consent.
        </span> In some cases, we may specifically ask for your consent to collect, use or share your personal
        information, such as when required by law.
    </p><p>
        <span class="strong" id="create-anonymous-aggregated-data">
            To create anonymous,
            aggregated or de-identified data.
        </span> We may create anonymous, aggregated or
        de-identified data from your personal information and other individuals whose
        personal information we collect. We make personal information into anonymous,
        aggregated or de-identified data by removing information that makes the data
        personally identifiable to you. We may use this anonymous, aggregated or
        de-identified data and share it with third parties for our lawful business purposes.
    </p>
    <p>
        <span class="strong">For compliance, fraud prevention and safety.</span>
        We may share your personal information for the compliance,
        fraud prevention and safety purposes described
        <a href="#compliance-fraund">above</a>.
    </p>
    <p>
        <h2 id="compliance-with-law">Compliance with Law</h2>
    <p>
        We may be required to use and share your personal information to comply
        with applicable laws, lawful requests, and legal process, such as to
        respond to subpoenas or requests from government authorities.
    </p>


    <h2>Children</h2>
    <p>
        The App is not directed at children under the age of 13, and our 
        Terms of Use do not allow children under 13 years of age 
        to use the App. If we learn that we have collected personal information of a child under the age of 13, 
        we will delete it. We encourage parents with concerns to contact us.
    </p>



</div>
